doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/terminal/css/jquery.terminal.css')
    script(src="/terminal/js/jquery-1.7.1.min.js")
    script(src="/terminal/js/jquery.terminal-src.js")
  body
    block content
